.gallery-section {
	width: 100%;
	height: auto;
	display: table;
	padding: 30px 0;
}

.gallery-section h2 {
    text-transform: uppercase;
    text-align: center;
    color: #9d0a0e;
    font-size: 2rem;
}

.gallery-main {
	width: 80%;
	height: auto;
	display: table;
	/*background: #ddfcea;*/
	border-radius: 10px;
	margin: 0 auto;
	position: relative;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 560px;
	overflow:hidden;
  }
  .gallery img {
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
    max-width: 75%;
    max-height: 100%;
	border-radius: 10px;
	cursor: move;
  }
  .gallery img.active {
    transform: scale(1.1);
    opacity: 1;
    z-index: 3;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 30px;
  }
  .gallery img.left {
    transform: translateX(-26%) scale(0.8);
    opacity: 0.8;
    z-index: 2;
  }
  .gallery img.right {
    transform: translateX(26%) scale(0.8);
    opacity: 0.8;
    z-index: 2;
  }
  .gallery img.hidden {
    opacity: 0;
    z-index: 1;
  }
  .controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
	z-index: 3;
  }
  .controls button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 -50px;
    background-color: rgba(157, 10, 14, 0.9);
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 -50px;
  }


.gallery-image1 {
	content: url("../img/gallery/img\ \(1\).JPEG");
	display: inline-block;
}
.gallery-image2 {
	content: url("../img/gallery/img\ \(2\).JPEG");
	display: inline-block;
}
.gallery-image3 {
	content: url("../img/gallery/img\ \(3\).JPEG");
	display: inline-block;
}
.gallery-image4 {
	content: url("../img/gallery/img\ \(4\).JPEG");
	display: inline-block;
}
.gallery-image5 {
	content: url("../img/gallery/img\ \(5\).JPEG");
	display: inline-block;
}
.gallery-image6 {
	content: url("../img/gallery/img\ \(6\).JPG");
	display: inline-block;
}

@media only screen and (max-width:320px){
	.gallery-main {width: 100%;}
	.gallery {height: 280px;}
	.gallery-section {padding: 30px 0 0 0;}
	.gallery-section h2 {font-size: 1.6rem;}
	.controls {width: 75%; top: 45%; transform: translateX(36px);}
	.gallery-image1 {content: url("../img/gallery/gallery1.jpeg");}
	.gallery-image2 {content: url("../img/gallery/gallery2.jpeg");}
	.gallery-image3 {content: url("../img/gallery/gallery3.jpeg");}
	.gallery-image4 {content: url("../img/gallery/gallery4.jpeg");}
	.gallery-image5 {content: url("../img/gallery/gallery5.jpeg");}
	.gallery-image6 {content: url("../img/gallery/gallery6.jpg");}
}

@media only screen and (max-width:400px) and (min-width:360px) {
	.gallery-main {width: 100%;}
	.gallery {height: 300px;}
	.gallery-section {padding: 30px 0 0 0;}
	.gallery-section h2 {font-size: 1.6rem;}
	.controls {width: 75%; top: 45%; transform: translateX(40px);}
	.gallery-image1 {content: url("../img/gallery/img\ \(1\).JPEG");}
	.gallery-image2 {content: url("../img/gallery/img\ \(2\).JPEG");}
	.gallery-image3 {content: url("../img/gallery/img\ \(3\).JPEG");}
	.gallery-image4 {content: url("../img/gallery/img\ \(4\).JPEG");}
	.gallery-image5 {content: url("../img/gallery/img\ \(5\).JPEG");}
	.gallery-image6 {content: url("../img/gallery/img\ \(6\).JPG");}
}

@media only screen and (max-width:667px) and (min-width:400px) {
	.gallery-main {width: 100%;}
	.gallery {height: 350px;}
	.gallery-section {padding: 30px 0 0 0;}
	.gallery-section h2 {font-size: 1.8rem;}
	.controls {width: 80%; top: 45%; transform: translateX(37px);}
	.gallery-image1 {content: url("../img/gallery/img\ \(1\).JPG");}
	.gallery-image2 {content: url("../img/gallery/img\ \(2\).JPG");}
	.gallery-image3 {content: url("../img/gallery/img\ \(3\).JPG");}
	.gallery-image4 {content: url("../img/gallery/img\ \(4\).JPG");}
	.gallery-image5 {content: url("../img/gallery/img\ \(5\).JPG");}
	.gallery-image6 {content: url("../img/gallery/img\ \(6\).JPG");}
}

